<ul>
    <span style="background-color: floralwhite;display: inline-block;border-bottom: 1px solid #aaaaaa;width: 100%;">
        &nbsp;B
    </span>
    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
        <span style="margin-left: 10px;margin-top: 15px;">
            <img src="res/gg-5.jpg" style="width: 40px;height: 40px;border-radius: 50%">
        </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            部落精选
        </p>
    </li>

    <span style="background-color: floralwhite;display: inline-block;border-bottom: 1px solid #aaaaaa;width: 100%;">
        &nbsp;C
    </span>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/gg-1.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            彩票/竞选
        </p>
    </li>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/gg-2.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            陈意涵*部落
        </p>
    </li>

    <span style="background-color: floralwhite;display: inline-block;border-bottom: 1px solid #aaaaaa;width: 100%;">
        &nbsp;D
    </span>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/gg-4.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            订阅号*看点
        </p>
    </li>

    <span style="background-color: floralwhite;display: inline-block;border-bottom: 1px solid #aaaaaa;width: 100%;">
        &nbsp;H
    </span>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/gg-3.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            哈士奇*部落
        </p>
    </li>

    <span style="background-color: floralwhite;display: inline-block;border-bottom: 1px solid #aaaaaa;width: 100%;">
        &nbsp;J
    </span>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/gg-6.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            缴费充值
        </p>
    </li>

</ul>