<li class="item">
    <i class="icon ion-plus"></i>
    创建多人聊天
</li>

<ul>
    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
        <span style="margin-left: 10px;margin-top: 15px;">
            <img src="res/qun-1.jpg" style="width: 40px;height: 40px;border-radius: 50%">
        </span>
        <p style="margin-left: 15px;margin-top: 15px;">
           大一大四服务群(18)
        </p>
    </li>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/qun-2.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            Simple group(4)
        </p>
    </li>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/qun-3.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            小苹果(25)
        </p>
    </li>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/qun-4.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            宇宙坏基友(5)
        </p>
    </li>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/qun-5.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            13级团支书(16)
        </p>
    </li>

    <li style="display: flex;justify-content: flex-start;line-height: 40px;align-items: center;border-bottom: 1px solid #a2a2a2;">
            <span style="margin-left: 10px;margin-top: 15px;">
                <img src="res/qun-6.jpg" style="width: 40px;height: 40px;border-radius: 50%">
            </span>
        <p style="margin-left: 15px;margin-top: 15px;">
            13级电信私密群(8)
        </p>
    </li>

</ul>

