<ion-view>
<!--<h1>我是左边</h1>-->
    <div>
        <div class="beaut">
            <span>
                <img src="res/qq-img.jpg" style="width: 30px;height: 30px;float: right;margin-right: 5%;margin-top: 9%">
            </span>
            <div>
                <span>
                    <img src="res/head-img.jpg" style="width: 40px;height: 40px;border-radius: 50%">
                </span>
                <p style="font-size: 20px;color: white">若非&九戈</p>
            </div>
            <span></span>
            <p style="font-size: 12px;color: black;margin-left: 3%">自己的未来，要有自己想要的理想...</p>
        </div>
        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-social-tux"></i>
                激活会员
                <span style="width: 10px;height: 10px;background-color: red;border-radius: 50%;float: right;margin-top: 5px"></span>
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-bag"></i>
                QQ钱包
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-android-color-palette"></i>
                个性装扮
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-android-bookmark"></i>
                我的收藏
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-android-image"></i>
                我的相册
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-folder-outline"></i>
                我的文件
            </a>

        </div>

        <div style="display: flex;justify-content: space-around;">
            <div style="display: flex;justify-content: space-around;width: 60%; height: 30%;margin-top: 50px;">
                <a href="" style="color: black">
                    <i class="icon ion-ios-gear-outline"></i>
                    设置
                </a>
                <a href="" style="color: black">
                    <i class="icon ion-ios-cloudy-night"></i>
                    夜间
                </a>
            </div>
            <div style="margin-top: 20px">
                <a href="" style="text-align: center;color: black;">
                    <p style="font-size: 30px;color: #4b8bf4">30°</p>
                    <p style="margin-left: -12px">郑州</p>
                </a>
            </div>
        </div>
    </div>
</ion-view>